/* navbar section is here */
.navbar {
  /* border: 2px solid red; */

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.navbar .logo {
  font-size: 35px;
  font-family: sans-serif;
  font-weight: bold;
}
.navbar .logo img {
  width: 62px;
}

.navbar > div {
  width: 30%;
  /* border: 2px solid yellow; */
}

.checkout-progress {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.checkout-progress li {
  font-size: 12px;
  font-weight: bold;
  color: #888;
  text-transform: uppercase;
  flex: 1;
  text-align: center;
  position: relative;
  z-index: 1;
}

.checkout-progress li.active {
  color: #fff;
}

.checkout-progress li.active .progress-number {
  background-color: #ef3291;
  color: #fff;
}

.checkout-progress li .progress-number {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #ddd;
  color: #fff;
  z-index: 2;
}

.checkout-progress li .progress-label {
  margin-top: 8px;
  z-index: 2;
}

.progress-bar {
  position: absolute;
  height: 5px;
  width: 200px;
  top: 20px;
  left: 200px;
  width: 0;
  height: 5px;
  color: pink;
  z-index: 0;
}
.line-bar {
  height: 3px;
  width: 325px;
  background-color: #ddd;
  position: absolute;
  left: 533px;
  top: 23px;
}

.stage-name {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-around;
  font-family: sans-serif;
  color: #ddd;
}
.stage-name > div:nth-child(2) {
  padding-left: 25px;
}
#cart {
  color: #ef3291;
  font-weight: bold;
}

/* cart section body parts starts here */
.parent-container {
  /* border: 2px solid red; */
  width: 60%;
  margin: auto;
  margin-top: 71px;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.parent-container .heading {
  position: fixed;
  display: flex;
  /* border: 2px solid rgba(47, 255, 0, 0.867); */
  height: 40px;
  justify-content: space-around;
  padding-top: 15px;
  left: 233px;
  right: 228px;
  background-color: white;
}
.parent-container .heading > div {
  text-align: left;
  /* border: 1px solid red; */
  width: 50%;
  font-size: 22px;
  padding-left: 50px;
  letter-spacing: 5;
  font-family: sans-serif;
}

.parent-container .body-content {
  /* border: 2px solid orange; */
  display: flex;
  justify-content: space-between;
}
.parent-container .body-content .price-details {
  /* border: 2px solid blue; */
  width: 340px;
  position: fixed;
  left: 50%;
  top: 130px;
}
.body-content {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}

.body-content .price-details > div:nth-child(1),
.body-content .price-details > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.body-content .price-details > div:nth-child(1) {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(211, 197, 184);
}
.body-content .price-details > div:nth-child(2) {
  font-weight: 700;
}
.body-content .price-details > div:nth-child(3) {
  display: flex;
  flex-direction: column;
}
.body-content .price-details > div:nth-child(3) > :nth-child(1) {
  font-size: 12px;
  text-align: center;
  /* border: 2px solid coral; */
}
.body-content .price-details > div:nth-child(3) > #continue-btn {
  display: block;
  width: 96%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: deeppink;
  margin-top: 17px;
  font-size: 15px;
  font-family: sans-serif;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}
.body-content .price-details > div:nth-child(3) > #continue-btn:hover {
  background-color: #ff0080;
}
.body-content .price-details > div:nth-child(4) img {
  width: 100%;
}

/* card section */
#product-body-content {
  /* border: 5px solid black; */
  width: 333px;
  margin-top: 45px;
}

.card {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid rgb(21, 255, 13); */
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.card .img_div {
  width: 35%;
  /* border: 2px solid red; */
  height: 90px;
}
.card .img_div img {
  width: 100%;
  height: 100%;
}
.card .card_content {
  width: 60%;
  /* border: 2px solid blue; */
  line-height: 3.1px;
}
button {
  user-select: none;
}
