nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 60px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo a {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
  color: #ff1376;
  text-transform: uppercase;
  text-decoration: none;
}
.logo img {
  width: 60px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.cart i {
  font-size: 15px;
  margin-right: 10px;
  color: #333;
}
.search-box {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  border: 0.5px solid black;
  width: 400px;
  height: 17px;
  padding: 10px;
}

.search-box i {
  font-size: 15px;
  color: #333;
  margin-right: 10px;
}

.search-box input[type="text"] {
  border: none;
  outline: none;
  background-color: #ffffff;
  font-size: 15px;
  color: deeppink;
  width: 350px;
  height: 30px;
  /* border: 2px solid darkred; */
}

.user-profile {
  display: flex;
  align-items: center;
  padding: 10px;
  border-left: 1px solid #c8b8b8;
}

.user-profile i {
  font-size: 15px;
  color: #333;
  margin-right: 10px;
}

.user-profile span {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
  color: #333;
}
.user-profile span:hover {
  color: rgb(255, 0, 136);
  cursor: pointer;
}
.mobile {
  display: flex;
  align-items: center;
  padding: 10px;
  border-right: 1px solid #c8b8b8;
}

.mobile i {
  font-size: 15px;
  color: #333;
  margin-right: 10px;
}

.mobile span {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
  color: #333;
}
.mobile span:hover {
  color: rgb(255, 0, 136);
  cursor: pointer;
}

.become-a-supplier span {
  font-size: 15px;
  font-family: sans-serif;
}
.become-a-supplier span:hover {
  color: rgb(255, 0, 136);
  cursor: pointer;
}

/*second navbar part is here*/
.second-navbar {
  background-color: white;
  z-index: 10;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
  position: fixed;
  align-items: center;
  height: 40px;
  padding: 0 120px;
  top: 60px;
  left: 0;
  right: 0;
  font-family: sans-serif;
}
.second-navbar > div {
  height: 100%;
  font-size: 15px;
  font-family: sans-serif;

  display: flex;
  align-items: center;
}
.second-navbar > div:hover {
  border-bottom: 1.5px solid deeppink;
}
.second-navbar > div a {
  color: #333;
  text-decoration: none;
}
.second-navbar > div a:hover {
  color: deeppink;
}

/* app download option on hovering part is here*/
.app-download-option {
  display: none;
  position: fixed;
  right: 370px;
  z-index: 10;
  top: 60px;
  width: 130px;
  height: 180px;
  /* display: grid; */
  padding: 20px;
  grid-template-columns: repeat(1, 1fr);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  font-family: sans-serif;
}

.app-download-option > div img {
  width: 100%;
  cursor: pointer;
}
.app-download-option div:nth-child(1) {
  padding-top: 20px;
  font-size: 15px;
}

/* user profile on hovering part is here */
.user-profile-option {
  display: none;
  background-color: white;
  position: fixed;
  top: 60px;
  right: 84px;
  width: 150px;
  z-index: 10;
  /* border: 2px solid rgb(0, 0, 0); */
  /* display: grid; */
  grid-template-columns: repeat(1, 1fr);
  height: 200px;
  gap: 10px;
  box-sizing: border-box;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
  font-family: sans-serif;
}
.user-profile-option > div {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid red; */
  font-size: 10px;
  padding: 5px;
}
.user-profile-option > div:nth-child(1) {
  border-bottom: 2px solid rgb(223, 217, 217);
}
.user-profile-option > div:nth-child(2) {
  border-bottom: 2px solid rgb(223, 217, 217);
}
.user-profile-option > div :hover {
  cursor: pointer;
}
.user-profile-option > div > div:nth-child(1) {
  width: 30%;
  padding-right: 10px;
}
.user-profile-option > div > div:nth-child(2) {
  width: 65%;
  /* border: 2px solid rgb(249, 13, 143); */
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.user-profile-option > div > div img {
  width: 100%;
}

.user-profile-on-hover-div div:nth-child(2) {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

/* Dropdown content on hovering part is here */
.drowpdown-content-parent {
  /* border: 2px solid red; */
  display: none;
  height: 200px;
  z-index: 20;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  /* display: flex; */
  justify-content: space-around;
  position: fixed;
  left: 100px;
  right: 100px;
  top: 101px;
  border-radius: 0px 0px 15px 15px;
  background-color: white;
}

.drowpdown-content-parent > div {
  width: 15%;
  /* border: 2px solid black; */
  padding-left: 10px;
  font-size: 15px;
}
.drowpdown-content-parent > div:nth-child(1) {
  background-color: rgb(244, 240, 240);
  border-bottom-left-radius: 15px;
}
.drowpdown-content-parent > div:nth-child(2) {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 15px;
}
.drowpdown-content-parent > div:nth-child(4) {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 15px;
}
.drowpdown-content-parent > div:nth-child(3) {
  background-color: rgb(244, 240, 240);
}
.drowpdown-content-parent > div:nth-child(5) {
  background-color: rgb(244, 240, 240);
}
.drowpdown-content-parent > div > div {
  /* border: 1px dashed blue; */
  height: 18%;
  display: flex;
  align-items: center;
}
.drowpdown-content-parent > div > div a {
  text-decoration: none;
  font-size: 15px;
  font-family: sans-serif;
}
.drowpdown-content-parent .first a {
  color: rgb(255, 0, 136);
}
.drowpdown-content-parent > div > div a:hover {
  border-bottom: 1.5px solid rgb(255, 2, 137);
}

/* Product appending in dom and their styles are from here */
/* parent container is here */
#main-container {
  border: 2px solid red;
  margin: auto;
  margin-top: 110px;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
#main-container > div:nth-child(2) {
  /* border: 2px solid blue; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 84%;
}

/* product container style is here */
#product_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}
#product_container > .card {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  padding: 9px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-family: sans-serif;
  color: rgb(69, 56, 56);
}

#product_container > .card:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: pointer;
}
#product_container > .card .img_div {
  width: 90%;
  height: 200px;
  /* border: 2px solid darkred; */
  margin: auto;
}

#product_container > .card .img_div img {
  width: 100%;
  height: 100%;
}
#product_container > .card .card_content .ratingDiv {
  display: flex;
  /* justify-content: center; */
  height: 40px;
  align-items: center;
  /* border: 2px solid darkgray; */
}
#product_container > .card .card_content .ratingDiv div {
  width: 30%;
  /* border: 2px solid black; */
  height: 100%;
  display: flex;
  align-items: center;
}
#product_container > .card .card_content .ratingDiv .ratingImgDiv {
  width: 40%;
  height: 100%;
}
#product_container > .card .card_content .ratingDiv .ratingImgDiv img {
  width: 80%;
  height: 100%;
}
#product_container > .card .card_content .ratingDiv div:nth-child(1) p {
  margin: auto;
  /* border: 1px solid red; */
}

/*Add To Cart button*/
#add_to_cart_button {
  display: block;
  margin: auto;
  background-color: rgb(234, 225, 242);
  color: rgb(184, 0, 98);
  border: none;
  /* border: 1px solid black; */
  width: 100px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
#add_to_cart_button:hover {
  background-color: deeppink;
  color: white;
}

/* cart data updater is here */
#cart_total_quanity_updater {
  font-weight: bold;
  color: deeppink;
}
.cart_data_after_addition {
  width: 25px;
  height: 25px;
  /* border: 1px solid black; */
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 50%;
}

/* pagination buttons are here */
#buttons_div {
  /* border: 2px solid red; */
  width: 45%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
#buttons_div .pagination_btn {
  width: 70px;
  height: 25px;
  background-color: #ffd4ef;
  display: block;
  /* border: 0.5px solid black; */
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 5px;
}
#buttons_div .pagination_btn:hover {
  color: rgb(8, 6, 6);
}
/* Style for the container div */
.options-container {
  display: flex;
  flex-direction: column;
  width: 15%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: 100%;
}

/* Style for the option divs */
.option {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  background-color: rgb(253, 226, 240);
  border-radius: 5px;
  color: rgb(34, 28, 31);
  font-weight: bold;
  font-family: sans-serif;
}

/* Style for the sub-option divs */
.sub-option {
  display: none;
  padding: 5px;
  margin: 5px;
  background-color: rgba(255, 251, 251, 0.893);
  border-radius: 5px;
  color: rgb(49, 49, 49);
  font-weight: 400;
  font-family: sans-serif;
}
.sub-option:hover {
  background-color: rgb(254, 234, 255);
  cursor: pointer;
  color: deeppink;
}

/* dropdown button part is here */
.option {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  margin-top: 10px;
}

/* footer part */
.footer-parent {
  /* border: 2px solid red; */

  width: 85%;
  margin: auto;
  display: flex;
  border-top: 3px solid #878282;
  justify-content: space-around;
  font-family: sans-serif;
  color: #333;
  margin-top: 70px;
}
.footer-parent > div {
  width: 30%;
  /* border: 2px solid black; */
}
.footer-parent .non-stop {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}
.footer-parent .non-stop .apps-container {
  /* border: 2px solid blue; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.footer-parent .non-stop .apps-container > div {
  width: 40%;
}
.footer-parent .non-stop .apps-container > div img {
  width: 100%;
}

/* careers-legal-socialmedia */
.careers-legal-socialmedia {
  /* display: flex; */
  /* flex-direction: column; */
  /* border: 5px solid rgb(43, 255, 0); */
}
.careers-legal-socialmedia > div {
  /* border: 2px solid yellow; */
}
.careers-legal-socialmedia > div:nth-child(1) a {
  text-decoration: none;
}
.careers-legal-socialmedia > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.careers-legal-socialmedia > div:nth-child(2) .social-media-handels {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid green; */
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.careers-legal-socialmedia > div {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-around;
}
.careers-legal-socialmedia > div > div {
  width: 100px;
  /* border: 2px solid deeppink; */
}
.careers-legal-socialmedia > div:nth-child(2) > div {
  /* border: 5px solid black; */
  width: 80%;
  display: flex;
  font-size: 25px;
  margin-left: 28px;
}
.footer-parent .contact-us {
  height: 350px;
  line-height: 0.3;
}
.careers-legal-socialmedia > div > div h3 a {
  color: #333;
}
.careers-legal-socialmedia > div > div h3 a:hover {
  color: darkblue;
}
